<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<%= image_tag "otraogvan-01.png", class: "login-image img-responsive"%>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 login-form-holder">
			<div class="login-form">
				<h3 class="text-center form-title">Log In To Your Account</h3>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<%= form_for(:session, url: login_path) do |f| %>
							<div class="form-group">
								<%=  label_tag :email %>
								<%= text_field_tag :email, nil,class: "form-control" %>
							</div>
							<div class="form-group">
								<%=  label_tag :password %>
								<%= password_field_tag :password, nil,class: "form-control" %>
							</div>
							<div class="form-group text-center">
								<%= submit_tag "Log In", class: "btn btn-primary form-control" %>
							</div>
						<% end %>
					</div>
				</div>
				<p class="text-center">Not a member yet? <%= link_to "Click Here", signup_path %> to signup.</p>
			</div>
		</div>
	</div>
</div>