<br>
<div class="container-fluid user">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 text-center">
					<h2 class="headers user-headers"><%= @host.name %></h2>
					<div class="user-avatar-wrapper">
						<%= image_tag @host.avatar.url(:medium), class: "img-responsive user-avatar"%>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 info_right">
					<div class="user-info-wrapper">
						<h4><%= icon('envelope-o') %> <%= @host.email %></h4>
						<h4>&emsp;<%= icon('map-marker') %> <%= @host.location %></h4> 
						<% if @host.about == nil and current_user.type == "Host" %>
							<h4><%= icon('music') %> <%= link_to "Please Update", edit_user_path(current_user) %></h4>
						<% else %>
							<h4><%= icon('music') %> <%= @host.about %></h4>
						<% end %>
						</h4>
						<% if current_user.type == "Host" %>
							<h3>
								&emsp;<%= link_to performances_path do %>
									<%= icon('search') %> Find Bands
								<% end %>
							</h3>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<% @host.shows.each do |show| %>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="shadowbox">
						<h3 class="headers">
							<%= show.venue %>
						</h3>
						<br>
						<br>
						<div class="card-body">
							<div class="flyer">
								<%= image_tag show.flyer.url(:medium) %>
							</div>
							<%= show.show_date.strftime("%m/%d/%Y") %> <br> <span><%= show.location %></span>
							<hr>
							<%= link_to "View details", show_path(show) %><br>
							<% if current_user.type == "Host" %>
								<%= link_to "Edit", edit_show_path(show) %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>