<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<%= form_for @user, class: "signup-form" do |f| %>
				<h3 class="text-center">Sign Up</h3>
					<div class="form-group">
						<%=  f.label :name %>
						<%=  f.text_field :name, class: "form-control" %>
					</div>
					<div class="form-group">
						<%=  f.label :email %>
						<%=  f.email_field :email, class: "form-control" %>
					</div>
					<div class="form-group">
						<%=  f.label :location %>
						<%=  f.text_field :location, class: "form-control city_stops" %>
					</div>
					<div class="form-group">
						<%=  f.label :type, "Role" %>
						<%=  f.collection_select :type, @role, :to_s, :to_s, {prompt: "Are you a band or a host?"}, class: "form-control dropdown-toggle", required: true %>
					</div>
					<div class="form-group">
						<%=  f.label :password %>
						<%=  f.password_field :password, class: "form-control" %>
					</div>
					<div class="form-group">
						<%=  f.label :password_confirmation %>
						<%=  f.password_field :password_confirmation, class: "form-control" %>
					</div>
					<div class="form-group text-center">
						<%= f.submit "Sign Up", class: "btn btn-primary form-control" %>
					</div>
			<% end %>
		</div>
	</div>
</div>