<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<%= form_for @tour do |f| %>
				<h1>Add New Your</h1>
				<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name, class: "form-control" %>
				</div>
				<%= f.fields_for :performances do |builder| %>
					<div class="form-group">
						<%= builder.label :location, "City" %>
						<%= builder.text_field :location, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= builder.label :performance_date, "Date" %>
						<%= builder.date_select :performance_date, class: "form-control" %>
					</div>
				<% end %>
				<div class="form-group">
					<%= f.submit "Save", class: "btn btn-primary form-control" %>
				</div>
			<% end %>
		</div>
	</div>
</div>