<div class="container">
	<div class="row">
		<div class="col-lg-12 new-tour-holder">
			<div class="new-tour-form">
				<h3 class="form-title text-center">New Tour</h3>
				<div class="new-tour-inner-form">
					<%= form_for @tour, autocomplete: false do |f| %>
						<div class="form-group">
							<%= f.label :name, "Tour Name" %>
							<%= f.text_field :name, class: "form-control", required: true %>
						</div>
						<h4 class="form-title text-center">Performances</h4>
						<%= f.fields_for :performances do |builder| %>
							<div class="fields">
								<div class="form-group">
									<%= builder.hidden_field :band_id, value: current_user.id %>
									<%= builder.hidden_field :status, value: "scheduled" %>
									<%= builder.label :location, "City", class: "location_label control-label" %>
									<%= builder.text_field :location, class: "location_input form-control city_stops", placeholder: "Enter a city", required: true %>
								</div>
								<div class="form-group">
									<%= builder.label :performance_date, "Date", class: "date_label" %>
									<%= builder.date_select :performance_date, class: "date_input form-control", required: true %>
								</div>
								<%= f.hidden_field :_destroy %>
								<%= link_to "#", class: "remove" do %>
									<%= icon('minus-circle') %> Remove City
								<% end %>
							</div>
						<% end %>
						<br>
						<h4>
							<%= link_to "#", id: "add" do %>
								<%= icon('plus-circle') %> Add City
							<% end %>
						</h4>
						<br>
						<div class="form-group">
							<%= f.submit "Create Tour", class: "btn btn-primary form-control" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>