<div class="row">
	<div class="col-xs-3">
		<div class="user-sidebar shadowbox">
			<h1 class="headers"><%= @band.name %></h1>
			<div class="img-rounded">
				<%= image_tag @band.avatar.url(:medium), class: "img-responsive avatar image-resize"%>
			</div>
			<div class="user-bar-pad">
				<br>
				<%= @band.email %><br>
				<%= @band.location %><br><br>
				<h1><%= link_to "Add Tour", new_tour_path %></h1>
				<h1><%= link_to "Find Venue", shows_path %></h1>
			</div>
		</div>
	</div>
	<div class="col-xs-9">
	<div class="dashboard-content">
		<% @band.tours.each do |tour| %>
		<div class="shadowbox">
			<h3 class="headers">
			<%= tour.name %>
			</h3>
			<div id="map"></div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="shadowbox">
					<h3 class="headers">SCHEDULED SHOWS</h3>
					<br>
					<br>
					<div class="card-body">
						<% tour.performances.where(status: 'scheduled').each do |perf| %>
						<%= perf.performance_date.strftime("%m/%d/%Y") %> <br> <span><%= perf.location %></span>
						<hr>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="shadowbox">
					<h3 class="headers">PENDING SHOWS</h3>
					<br>
					<br>
					<div class="card-body">
						<% tour.performances.where(status: 'pending').each do |perf| %>
						<%= Request.all.where({status: "pending", performance_id: perf.id})[0].performance.performance_date.strftime("%m/%d/%Y") %>
						<span><%= perf.location %></span>
						<hr>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="shadowbox">
					<h3 class="headers">CONFIRMED SHOWS</h3>
					<br>
					<br>
					<div class="card-body">
						<% tour.performances.where(status: 'confirmed').each do |perf| %>
						<%= link_to perf.performance_date.strftime("%m/%d/%Y"), performance_path(perf) %> <br> 
						<span><%= perf.location %></span>
						<hr>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	</div>
</div>