<div id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<h1 class="headers"><%= @band.name %></h1>
			<div class="img-rounded">
				<%= image_tag @band.avatar.url(:medium), class: "img-responsive avatar image-resize" %>
			</div>
			<div class="user-bar-pad">
				<p>
					<%= icon('envelope-o') %> <%= @band.email %>
					<br><%= icon('map-marker') %> <%= @band.location %>
				</p>
				<h3><%= link_to "Add Tour", new_tour_path %></h3>
				<h3><%= link_to "Find Venue", shows_path %></h3>
			</div>
	</div>
	<!-- /#sidebar-wrapper -->
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 dashboard-content">
					<span class="menu-toggle">
						<%= icon('angle-right') %>
					</span>
					<% @band.tours.each do |tour| %>
						<div class="row">
							<div class="col-lg-12">
								<div class="shadowbox">
									<h3 class="map-headers"><%= tour.name %><span class="glyphicon glyphicon-globe pull-right view-map"></span></h3>
									<div id="map<%= @band.tours.index(tour) %>" class="map">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="shadowbox">
									<h3 class="headers">SCHEDULED SHOWS</h3>
									<br>
									<br>
									<div class="card-body">
										<% tour.performances.where(status: 'scheduled').each do |perf| %>
											<% if @pending_performances.include?(perf) == false %>
												<%= link_to perf.performance_date.strftime("%m/%d/%Y"), performance_path(perf) %> <br> <span><%= link_to perf.location, performance_path(perf) %></span>
												<hr>
											<% end %>
										<% end %>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="shadowbox">
									<h3 class="headers">PENDING SHOWS</h3>
									<br>
									<br>
									<div class="card-body">
										<% tour.performances.where(status: 'scheduled').each do |perf| %>
											<% if @pending_performances.any? %>
												<% if @pending_performances.include?(perf) %>
													<%= link_to perf.performance_date.strftime("%m/%d/%Y"), performance_path(perf) %> <br> <span><%= link_to perf.location, performance_path(perf) %></span>
													<hr>
												<% end %>
											<% end %>
										<% end %>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="shadowbox">
									<h3 class="headers">CONFIRMED SHOWS</h3>
									<br>
									<br>
									<div class="card-body">
										<% tour.performances.where(status: 'confirmed').each do |perf| %>
										<%= link_to perf.performance_date.strftime("%m/%d/%Y"), performance_path(perf) %> <br> 
										<span><%= link_to perf.location, performance_path(perf) %></span>
										<hr>
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<hr>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>