<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1><%= @band.name %></h1>
			<%= link_to "Add Tour", new_tour_path %>
			<br>
			<%= link_to "Find Venue", shows_path %>
		</div>
		<h2>
			New Requests:
			
		</h2>
		<div class="col-xs-9">
			<div id="map"></div>
			<% @band.tours.each do |tour| %>
				<h2>
					<%= tour.name %>
				</h2>

				<div class="row">
					<div class="col-xs-4">
						<h3>CONFIRMED SHOWS</h3>
						<% tour.performances.where(status: 'confirmed').each do |perf| %>
							<%= link_to perf.performance_date, performance_path(perf) %> - <%= perf.location %> - <%= perf.status %>
							<br>
						<% end %>
					</div>
					<div class="col-xs-4">
						<h3>SCHEDULED SHOWS</h3>
						<% tour.performances.where(status: 'scheduled').each do |perf| %>
							<%= perf.performance_date %> - <%= perf.location %> - <%= perf.status %>
							<br>
						<% end %>
					</div>
					<div class="col-xs-4">
						<h3>PENDING SHOWS</h3>
						<% tour.performances.where(status: 'pending').each do |perf| %>
							<%= perf.performance_date %> - <%= perf.location %> - <%= perf.status %>
							<br>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>