<div class="container" id="user">
	<div class="row">
		<div class="col-md-4">
			<div class="user-container" style="width: 300px">
				<h2 class="headers"><%= @band.name %></h2>
				<br>
				<br>
				<div class="profile-side-bar">
					<div class="flyer" style="border: none;">
						<%= image_tag @band.avatar.url(:medium), class: "img-responsive user-avatar"%>	
					</div>
					<h4>&emsp;<span class="glyphicon glyphicon-envelope"></span> <%= @band.email %></h4>
					<h4>&emsp;<span class="glyphicon glyphicon-globe"></span> <%= @band.location %></h4>
					<h4>&emsp;<span class="glyphicon glyphicon-music"></span> 
						<% if @band.about == nil and current_user.type == "Band" %>
							<%= link_to "Please Update", edit_user_path %>
						<% else %>
							<%= @band.about %>
						<% end %>
						</h4>
					<% if current_user.type == "Host" %>
						<h3>&emsp;<%= link_to "Find Performance", performances_path %></h3>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="dashboard-content">
				<% @band.tours.each do |tour| %>
					<div class="row tours">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="shadowbox">
										<h3 class="headers"><span class="glyphicon glyphicon-globe"></span> <%= tour.name %></h3>
									</div>
								</div>
							</div>
							<div class="row performance-tags">
								<div class="col-md-4">
									<div class="shadowbox">
										<h3 class="headers">SCHEDULED SHOWS</h3>
										<br>
										<br>
										<div class="card-body">
											<% tour.performances.where(status: 'scheduled').each do |perf| %>
												<% if @pending_performances.include?(perf) == false %>
													<%= perf.performance_date.strftime("%m/%d/%Y") %> <br> <span><%= perf.location %></span>
													<hr>
												<% end %>
											<% end %>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="shadowbox">
										<h3 class="headers">PENDING SHOWS</h3>
										<br>
										<br>
										<div class="card-body">
											<% tour.performances.where(status: 'scheduled').each do |perf| %>
												<% if @pending_performances.any? %>
													<% if @pending_performances.include?(perf) %>
														<%= perf.performance_date.strftime("%m/%d/%Y") %> <br> <span><%= perf.location %></span>
														<hr>
													<% end %>
												<% end %>
											<% end %>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="shadowbox">
										<h3 class="headers">CONFIRMED SHOWS</h3>
										<br>
										<br>
										<div class="card-body">
											<% tour.performances.where(status: 'confirmed').each do |perf| %>
											<%= link_to perf.performance_date.strftime("%m/%d/%Y"), performance_path(perf) %> <br> 
											<span><%= perf.location %></span>
											<hr>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>