<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<% @match_shows.each do |show_by_date| %>
				<h3 class="headers"><%= show_by_date[0].strftime("%m/%d/%Y") %></h3><br>
				<div class="row">
					<% show_by_date[1].each do |one_show| %>
						<div class="col-xs-4">
							<div class="shadowbox">
								<h3 class="headers">
									<%= one_show.venue %>
								</h3>
								<br>
								<br>
								<div class="card-body">
									<div class="flyer">
										<%= image_tag one_show.flyer.url(:medium) %>
									</div>
										<span><%= one_show.location %></span>
										<hr>
									<%= link_to "View details", show_path(one_show) %><br>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

