<h1>Shows#index</h1>
<p>Find me in app/views/shows/index.html.erb</p>
<% @match_shows.each do |show| %>
	<h4><%= show.venue %> - <%= show.show_date %> - <%= show.location %> - <%= show.id %></h4>
	<%= link_to "view", show_path(show) %>
<% end %>