<br>
<div class="container">
	<div class="row">
		<div class="show-wrapper">
			<div class="col-md-12">
				<h1 class="headers"><%= @show.venue %></h1>
				<br>
				<br>
				<div class="card-body">
					<h3><strong>Host:</strong> <%= @show.host.name %></h3>
					<h3><strong>Location: </strong><%= @show.location %></h3>
					<h3><strong>Show Date: </strong><%= @show.show_date %></h3>
					<h4><strong>Total Slots: </strong><%= @show.slots %></h4>
					<h4><strong>Available Slots: </strong><%= @show.slots - @confirmed_requests.count %></h4>
					<% if @confirmed_requests.any? %>
						<h4><strong>Confirmed Bands:</strong></h4>
						<% @confirmed_requests.each do |confirmed| %>
							<ul>
								<li><%= confirmed.performance.band.name %></li>
							</ul>
						<% end %>
					<% end %>
						<% if @show.slots > @confirmed_requests.count and current_user.type == "Band" and @band_denied_request.empty? and @band_pending_request.empty? %>
							<!-- if host hasn't requested band -->
							<% if @host_single_request.empty? %>
								<%= form_for @request do |f| %>
									<%= f.hidden_field :status, value: "pending" %>
									<%= f.hidden_field :requester_id, value: current_user.id %>
									<% this_band_performance = current_user.performances.where({status: "scheduled", performance_date: @show.show_date, location: @show.location})[0] %>
									<%= f.hidden_field :performance_id, value: this_band_performance.id %>
									<%= f.hidden_field :show_id, value: @show.id %>
									<%= f.submit "Request Slot", class: "btn btn-primary" %>
								<% end %>
						<% else %>
							Host already wants you to play this show, <br>
							<%= link_to "click here", performance_path(@host_single_request[0].performance_id), class: "btn btn-primary", style: "color: #F9F7DC" %> to confirm or deny!
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="col-md-12">
				<% if @pending_requests.any? %>
					<h1 class="headers">Pending Requested Bands</h1>
					<br>
					<br>
					<% @pending_requests.each do |request| %>
						<% pending_perf = request.performance %>
							<div class="card-body">
								<% if current_user.type == "Host" and request.status == "pending" %>
									<% if request.requester_id == current_user.id  %>
										<p><i>Your request with </i><%= request.performance.band.name %><i> is pending</i></p>
									<% elsif request.show_id == @show.id %>
										<%= request.performance.band.name %>
										<%= form_for pending_perf, method: :put do |f| %>
											<%= f.hidden_field :show_id, value: @show.id %>
											<%= f.hidden_field :id, value: pending_perf.id %>
											<%= f.submit "Confirm", class: "btn btn-primary" %>
											<%= f.submit "Deny", class: "btn btn-primary" %>
										<% end %>
									<% end %>
								<% elsif current_user.type == "Band" %>
									<% if current_user.id == request.performance.band.id %>
										You have a pending request with this venue.
										<br><%= link_to "Click Here", performance_path(request.performance) %> to see details.
									<% else %>
										<%= request.performance.band.name %>
									<% end %>
								<% end %>
							</div>
						<% end %>
					<% end %>
				<% if current_user.type == "Band" and @band_denied_request.any? and @band_denied_request[0].status == "denied" %>
					<div class="card-body">
						<h4>You have been denied by <%= @band_denied_request[0].show.host.name %></h4>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>