<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<% @match_performances.each do |performance_by_date| %>
				<h3 class="headers"><%= performance_by_date[0] %></h3><br>
				<div class="row">
					<% performance_by_date[1].each do |one_performance| %>
						<div class="col-xs-4">
							<div class="shadowbox">
								<h3 class="headers">
									<%= one_performance.band.name %>
								</h3>
								<br>
								<br>
								<div class="card-body">
									<div class="flyer">
										<%= image_tag one_performance.band.avatar.url(:medium) %>
									</div>
										<span><%= one_performance.band.location %></span>
										<p><%= one_performance.band.about %></p>
										<hr>
									<%= link_to "View Band's Page", performance_path(one_performance) %><br>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>