<div class="container">
	<div class="row">
		<div class="show-wrapper">
			<div class="col-lg-12 col-md-12">
				<h1 class="headers"><%= @performance.band.name %></h1>
				<br>
				<br>
				<div class="card-body">
					<h3><strong>Tour Name: </strong><%= @performance.tour.name %></h3>
					<h3><strong>Location: </strong><%= @performance.location %></h3>
					<h4><strong>Date: </strong><%= @performance.performance_date %></h4>
					<% if current_user.type === "Host" %>
						<h4><strong>Band Home City: </strong><%= @performance.band.location %></h4>
					<% end %>
					<% if @confirmed_request %>
						<p><strong>Venue: </strong><%= @confirmed_request.show.venue %> - <%=  @performance.location %></p>
						<%= image_tag @confirmed_request.show.flyer.url(:medium), class: "band-confirmed-venue" %>
					<% end %>
					<% if current_user.type == "Host" and @host_request.empty? and @request_band_made_to_host.empty? %>
						<%= form_for @request do |f| %>
							<%= f.hidden_field :status, value: "pending" %>
							<%= f.hidden_field :requester_id, value: current_user.id %>
							<% this_host_show = current_user.shows.where({show_date: @performance.performance_date, location: @performance.location})[0] %>
							<%= f.hidden_field :performance_id, value: @performance.id %>
							<%= f.hidden_field :show_id, value: this_host_show.id %>
							<%= f.submit "Request Performance", class: "btn btn-primary" %>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="col-lg-12 col-md-12">
				<% if @pending_requests.any? %>
					<h1 class="headers">Pending Requested Hosts</h1>
					<br>
					<br>
					<% @pending_requests.each do |request| %>
						<% if current_user.type == "Host" %>
							<div class="card-body">
								<% if current_user.id == request.show.host.id %>
									You have a pending request from <%= @performance.band.name %>
									<br><%= link_to "Click Here", show_path(request.show) %> to see request.
								<% else %>
									<%= request.show.host.name %>
								<% end %>
							</div>
						<% end %>
						<% pending_performance = request.performance %>
						<% if current_user.type == "Band" and request.status == "pending" %>
							<div class="card-body">
								<% if request.requester_id == current_user.id  %>
									 <p>Your request with <%= request.show.host.name %> is pending</p>
								<% else %>
									<%= request.show.host.name %> is requesting this performance
									<%= form_for pending_performance, method: :put do |f| %>
										<%= f.hidden_field :show_id, value: request.show.id %>
										<%= f.hidden_field :id, value: pending_performance.id %>
										<%= f.submit "Confirm", class: "btn btn-primary" %>
										<%= f.submit "Deny", class: "btn btn-primary" %>
									<% end %>
								<% end %>
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>