<!DOCTYPE html>
<html>
<head>
  <title>OTRA</title>
  <meta name="viewport" content="width=400, initial-scale=1">
  <meta name="viewport" content="width=300, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ7P4CWIAkLESUlm41nz7ZfacCFdiN7bc&libraries=places&region=us">
  </script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//cdn.jsdelivr.net/jquery.geocomplete/1.6.4/jquery.geocomplete.min.js"></script>

</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <%= link_to "Otra", root_path, class: "navbar-brand" %>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <% if current_user && current_user.type == "Band" %>
	      <li><%= link_to "Dashboard", dashboard_path, class: "nav-links" %></li>
	      <li><%= link_to "Add Tour", new_tour_path, class: "nav-links" %></li>
	      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %> <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><%= link_to "Band Profile", band_path(current_user), class: "nav-links" %></li>
	          <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "nav-links" %></a></li>
	          <li><%= link_to "Logout", logout_path, class: "nav-links" %></li>
	        </ul>
	      </li>
	      <% elsif current_user && current_user.type == "Host" %>
					<li><%= link_to "Add Show", new_show_path, class: "nav-links" %></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %> <span class="caret"></span></a>
					  <ul class="dropdown-menu">
					    <li><%= link_to "Your Profile", host_path(current_user), class: "nav-links" %></li>
					    <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "nav-links" %></a></li>
					    <li><%= link_to "Logout", logout_path, class: "nav-links" %></li>
					  </ul>
					</li>
	      <% else %>
	      <li><%= link_to "Signup", new_user_path, class: "nav-links" %></li>
	      <li><%= link_to "Login", login_path, class: "nav-links" %></li>
	      <% end %>
	    </ul>
	  </div>
	</nav>
	<!-- error message -->
	<% flash.each do |name, msg| %>
	  <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
	    <div class="container">
	      <%= msg %>
	    </div>
	  </div>
	<% end %>
	<%= yield %>

</body>
</html>
