<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 otra-holder">
			<div class="welcome text-center"><br><br><br>
				<%= image_tag "otra-01.png", class: "logo" %>
				<p class="otra">On the road again?</p>
				<br>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<div class="info text-center">
				<hr>
				<div class="info-header">
					<p>LET US DO SOME HEAVY LIFTING</p>
				</div>
				<hr>
				<h3>Otra provides a platform for touring bands and independent show hosts to connect efficiently and painlessly</h3>
				<p><a href="#how-it-work" class="down-arrow"><%= icon('angle-down') %></a></p>
			</div>
		</div>
	</div>

	<section id="how-it-work">
		<div class="row how-it-works">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
				<div class="tagline-wrapper">
					<%= image_tag "otraband-01.png", class: "logo-info img-responsive" %>
					<hr class="divider-line">
					<%= link_to "BANDS", signup_path, class: "tagline image-labels band-signup" %>
					<hr class="divider-line">
					<% if !current_user %>
						<h4><strong><%= link_to "Signup", signup_path, class: "band-signup" %></strong> as a band and get started by creating a tour route and connecting with hosts!</h4>
					<% end %>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
				<div class="tagline-wrapper">
					<%= image_tag "otrahosts-01.png", class: "logo-info img-responsive" %>
					<hr class="divider-line">
					<%= link_to "HOSTS", signup_path, class: "tagline image-labels host-signup" %>
					<hr class="divider-line">
					<% if !current_user %>
						<h4><strong><%= link_to "Signup", signup_path, class: "host-signup" %></strong> as a host and get started by creating some shows and connecting with bands!</h4>
					<% end %>
				</div>
			</div>
		</div>
	</section>
</div>